/* styles.css */

/* Define un estilo para las celdas de encabezado */
.header-row {
    background-color: #1976d2 !important; /* Fondo celeste */
  }

  .header-cell {
    color: #ffff !important; /* Texto blanco */
  }

  .cellCenter {
    text-align: center;
    align-items: 'middle';

  }